# This is an **example** API to demontstrate features of OpenAPI specification.
# It doesn't cover all OpenAPI features. For more full example check out: https://github.com/APIs-guru/petstore_extended

swagger: '2.0'
# You should specify common part of your endpoints in the following format:
#   <schemes>://<host><basepath>
schemes:
  - http # Remove if your API doesn't support HTTP
  - https # Remove if your API donsn't support HTTPS
host: payment.ducatus.io # Replace with your hostname. You can also specify port e.g. example.com:777
#basePath: /api/v0 # Replace with your basePath. Note: SHOULD begin with '/'.
basePath: / # Replace with your basePath. Note: SHOULD begin with '/'.
info:
  # Describe your API here, you can use GFM (https://guides.github.com/features/mastering-markdown) here
  description: |
    This is an **example** API to demontstrate features of OpenAPI specification
    # Introduction
    This specification is intended to to be a good starting point for describint your API in 
    [OpenAPI/Swagger format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md).
    It also demonstrates features of [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo) tool and 
    [ReDoc](https://github.com/Rebilly/ReDoc) documentation engine. So beyond the standard OpenAPI syntax we use a few 
    [vendor extensions](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md).
    
    # OpenAPI Specification
    The goal of The OpenAPI Specification is to define a standard, language-agnostic interface to REST APIs which
    allows both humans and computers to discover and understand the capabilities of the service without access to source
    code, documentation, or through network traffic inspection. When properly defined via OpenAPI, a consumer can 
    understand and interact with the remote service with a minimal amount of implementation logic. Similar to what
    interfaces have done for lower-level programming, OpenAPI removes the guesswork in calling the service.

  version: '0.0.1' # Your API version
  # It can be any string but it is better to use semantic versioning: http://semver.org/
  # Warning: OpenAPI require version to be string, but without quotation YAML can recognize it as number.

  title: payment.ducatus.io # Replace with your API title
  # Keep it simple. Don't add "API" or verison at the end of the string.

  contact:
    email: tech@ducatus.io # [Optional] Replace with your contact email
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://apis.guru/openapi-template/logo.png'
externalDocs:
  description: Find out how to create Github repo for your OpenAPI spec.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
produces:
  # List of mime types your API endpoins can return.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not used in your API
  - application/json
  # you can add any mime type your API produces to the list
consumes:
  # List of mime types your API endpoins consumes.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not supported by your API
  - application/json
  # you can add any mime type your API consumes to the list

# Security scheme definitions that can be used across the specification.
securityDefinitions:
  basic_auth: # security definition name (you can name it as you want)
    type: basic

security:
  - basic_auth: []

# Holds the relative paths to the individual endpoints. The path is appended to the
# basePath in order to construct the full URL. 
paths:
  '/generate_qr':
    get:
      description: Returns QR code
      parameters:
        - name: data
          in: query
          description: Data to encode
          required: true
          type: string

      produces:
        - image/png
      responses:
        "200":
          description: Success
  
  /api_key:
    post:
      description: Returns an API key
      consumes:
        - application/json
      parameters:
        - in: body
          name: data
          description: Payment Request data
          required: true
          schema:
            type: object
            properties:
              ex_pub_key:
                type: string
                description: External Public Key of the wallet
                example: Ltub2ZpAmhCdTqeogbBEzzbnme3sixN8sTySiTnqVq1RGZGfCboegMY7mes1CYXgSpzAQTJC2haJ2YTiaQcJNueoP6jVLAPHJJJ82DxERWeFnc5
              ipn:
                type: string
                description: Instant payment URL that the payment gateway will send a post to
                example: https://exmple.com/payment-notification-post-endpoint
              crypto_symbol:
                type: string
                enum:
                  - btc
                  - dtc
                description: The ticker for the crypto, only BTC and DTC is supported (case insensitive)
                example: dtc
              network:
                type: string
                description: Testnet or Livenet
                enum:
                  - livenet
                  - testnet
                default: livenet
      responses:
        200:
          description: A User object
          schema:
            $ref: "#/definitions/ApiData"
  
  /request_payment/{id}:
    get:
      summary: Get info on a past payment request
      parameters:
        - name: id
          in: path
          description: The ID of that was returned for the payment request
          required: true
          type: string
          example: NWHruNZITo11Cjyz
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/PaymentRequest"
            
  /request_payment:
    post:
      summary: Payment Request
      description: Create a new request for payment, returns data for payment request
      consumes:
        - application/json
      parameters:
        - in: body
          name: data
          description: Payment Request data
          required: true
          schema:
            type: object
            properties:
              expected:
                type: string
                description: Expected crypto amount to be paid
              api_key:
                type: string
                description: API key
                example: uNZINWHrTo11Cjyz
            
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/PaymentRequest"

  

          
# complex objects have schema definitions
definitions:
  PaymentRequest:
    type: object
    properties:
      id:
        type: string
        description: ID of the transaction from the payment gateway, not blockchain ID
        example: NWHruNZITo11Cjyz
      address:
        type: string
        description: A unique crypto address
        example: Ln4E73gikptjT9cBDAQcXG29vVxH5TB9GM
      qr_data:
        type: string
        description: A URL to the QR code
        example: ducatuscoin:Ln4E73gikptjT9cBDAQcXG29vVxH5TB9GM?amount=4.601
      expected:
        type: string
        description: expected amount to be paid in the crypto (DTC or BTC)
        example: "4.601"
      balance:
        type: string
        description: Actual amount paid in BTC or DTC
        default: "0"
      unconfirmed:
        type: string
        description: Amount awaiting to be confirmed in the blockchain
        default: "0"
      expiresAt:
        type: number
        description: Time in epoch with miliseconds that the address will expire
        example: 1515155937620
      api_data:
        $ref: "#/definitions/ApiData"
        
  ApiData:
    type: object
    properties:
      api_key:
        type: string
        description: An API key
        example: uNZINWHrTo11Cjyz
      ex_pub_key:
        type: string
        description: Extended public key
        example: Ltub2ZpAmhCdTqeogbBEzzbnme3sixN8sTySiTnqVq1RGZGfCboegMY7mes1CYXgSpzAQTJC2haJ2YTiaQcJNueoP6jVLAPHJJJ82DxERWeFnc5
      crypto_symbol:
        type: string
        enum:
          - btc
          - dtc
        example: dtc
        description: The ticker for the crypto, only BTC and DTC is supported (case insensitive)
      ipn:
        type: string
        description: An endpoint that can accept a POST with JSON data
        example: https://exmple.com/payment-notification-post-endpoint
      network:
        type: string
        description: Testnet or Livenet
        enum:
          - livenet
          - testnet
        default: livenet

